// bower:scss
// endbower

@import 'partials/_reset';
@import 'partials/_variables';
@import 'partials/_mixins';

/********************************
/ General styling
/*******************************/

* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Montserrat light', arial;
  color: $black;
  background-color: $white;
  font-size: 100%;
  line-height: $line-height;
}

.site-container {
	width: 100%;
	height: 100%;
	.inner-container {
		text-align: center;
		height: 100%;
	}
}

a {
	text-decoration: none;
	list-style-type: none;
}

.animated {
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.animated-mid {
  	-webkit-animation-duration: 1.5s;
  	animation-duration: 1.5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.animated-slow {
  	-webkit-animation-duration: 2s;
  	animation-duration: 2s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

/********************************
/ Landing section
/*******************************/

.landing-section {
	height: 100%;
	color: $white;
	position: relative;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    &:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to right, #75D1FF 0%, #7626FF 100%);
		opacity: .6; 
  	}
	.centered {
		height: 100%;
	}
}

header {
	nav {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 999;
		.hamburger {
			width: 27px;
			height: 22px;
			float: right;
			position: relative;
			transform: rotate(0deg);
			transition: 0.5s ease-in-out;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				height: 5px;
				width: 100%;
				background-color: $white;
				opacity: 1;
				left: 0;
				transition: .25s ease-in-out;
				z-index: 9999;
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 9px;
				}
				&:nth-child(4) {
					top: 18px;
				}
			}
		}
		.hamburger.open {
			&.open {
				span {
					background: $white;
					transition: 0.25s ease-in-out;
					&:nth-child(1) {
						top: 9px;
    					width: 0;
    					left: 50%;
					}
					&:nth-child(2) {
    					transform:rotate(45deg);
					}
					&:nth-child(3) {
    					transform:rotate(-45deg);
					}
					&:nth-child(4) {
    					top: 9px;
    					width: 0;
    					left: 50%;
					}
				}
			}
		}
	}
	.nav-overlay {
		display: none;
		transition: display 1s ease;
		background-color: #7626FF;
		opacity: 0.95;
		font-family: 'Montserrat Bold', arial;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		&.active {
			display: block;
			transition: display 1s ease;
		}
		ul {
			display: block;
			position: absolute;
			width: 90%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			a {
				text-decoration: none;
				color: $white;
				z-index: 9999;
				font-size: $font-size-l;
				text-align: right;
				font-size: 2.5em;
				li {
					padding: 30px 0;
					font-size: 1.4em;
					animation-name: slideInRight;
					-webkit-animation-name: slideInRight;
				}
				@media screen and (min-width: $bp-s) {
					li {
						font-size: 2em;
					}
				}
			}
		}
	}
}
.intro {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	transition: all 0.5s ease-in;
		animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	animation-name: slideInUp;
	-webkit-animation-name: slideInUp;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	h1 {
		font-family: 'Montserrat Hairline', arial;
		font-size: 2.7em;
		@media screen and (min-width: $bp-m) {
			font-size: 3.7em;
		}
	}
	p {
		font-family: 'Montserrat Bold', arial;
		font-size: $font-size-xl;
		@media screen and (min-width: $bp-m) {
			font-size: 2.2em;
		}
	}
	@media screen and (min-width: $bp-s) {
		h1 {
			font-size: 3.7em;
		}
		p {
			font-size: 2.2em;
		}
	}
}

/********************************
/ About section
/*******************************/

.about-section {
	padding: 100px 5% 100px;
	@media screen and (min-width: $bp-m) {
		font-size: 1.1em
	}
	.centered {
		max-width: 850px;
    	display: block;
    	margin: 0 auto;
    	h2 {
			font-family: 'Montserrat Hairline', arial;
			font-size: $h2-l;
			margin-bottom: 50px;
			color: #75D1FF;
		}
		@media screen and (min-width: $bp-s) {
			h2 {
				font-size: 3em;
			}
		}
		p {
			text-align: center;
		}
	}
}


/********************************
/ Projects section
/*******************************/

.projects-section {
	padding: 100px 0 100px;
	.centered {
		width: 100%;
		max-width: 1200px;
		display: block;
		margin: 0 auto;
		h2 {
			font-family: 'Montserrat Hairline', arial;
			font-size: $h2-l;
			margin-bottom: 100px;
			color: #7626FF;
		}
		@media screen and (min-width: $bp-s) {
			h2 {
				font-size: 3em;
			}
		}
	}
}

.portfolio-items {
	list-style: none;
	display: block;
	text-align: center;
	li {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 450px;
		height: 400px;
		cursor: pointer;
		overflow:hidden;
		text-align: center;
		margin-bottom: 10px;
		animation-name: slideInDown;
		-webkit-animation-name: slideInDown;
		@media screen and (min-width: 905px) {
			margin: 3px 5px;
		}
		.portfolio-hover {
			background: #7626FF;
			transition: 0.5s ease-in-out;
			opacity: 0.8;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 100%;
			@media screen and (min-width: $bp-l) {
				height: 0;
			}
			.ptable {
				display: table;
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 1;
				transition: 0.25s ease-in-out;
				@media screen and (min-width: $bp-l) {
					opacity: 0;
				}
				.pcell {
					text-align: center;
					color: $white;
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					padding: 0 10%;
					h3 {
						font-family: 'Montserrat Bold', arial;
						font-size: $font-size-l;
						border: 2px solid $white;
						padding: 5px;
						margin-bottom: 10px;
					}
				}
			}
		}
		@media screen and (min-width: $bp-l) {
			&:hover .portfolio-hover, &:focus .portfolio-hover {
					height: 100%;
			}
			&:hover .ptable, &:focus .ptable {
					opacity: 1;
			}
		}
		
	}
	.tesco {
		background: url('../images/tesco.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
	}
	.nutrimum {
		background: url('../images/nutrimum.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
	}
	.tech {
		background: url('../images/tech.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
	}
	.blog {
		background: url('../images/blog.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
	}
}

.clear {
	clear: both;
}

/********************************
/ Footer section
/*******************************/

.footer-section {
	margin: 50px 0;
	height: 30%;
	position: relative;
	@media screen and (min-width: $bp-l) {
		height: 5%;
		margin: 100px 0 10px;
	}
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		li {
			padding: 10px;
			cursor: pointer;
			font-size: $font-size-xl;
			transition: color 0.4s ease-in-out;
			&:hover {
				animation-name: pulse;
					-webkit-animation-name: pulse;
			}
			@media screen and (min-width: $bp-l) {
				display: inline;
			}
			a {
				color: #75D1FF;
				font-family: 'Montserrat Light', arial;
				&:hover {
					transition: color 0.4s ease-in-out;
					color: #7626FF;
				}
			}
		}
	}
}

/********************************
/ Css3 animations keyframes
/*******************************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}





