// bower:scss
// endbower

@import 'partials/_reset';
@import 'partials/_variables';
@import 'partials/_mixins';

html {
	height: auto;
}

body {
	background: linear-gradient(to bottom,
				rgba(86, 60, 252, 1) 0%,
				rgba(141, 83, 234, 1) 50%,
				rgba(191, 105, 218, 1) 100%);
	width: 100%;
	height: 100%;
	font-family:'Playfair Display', serif;
	line-height: $line-height;
	transition: all 0.5s ease-in;
}

a {
	text-decoration: none;
	list-style-type: none;
}

span {
	color: $white;
}

h1 {
	display: inline;
	margin-left: 50px;
	img {
		width: 60px;
		margin-top: -10px;
		animation-name: slideInLeft;
		-webkit-animation-name: slideInLeft;
	}
}


h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: $white;
	font-size: $font-size-xs;
	text-align: right;
	border-top: 4px solid $white;
	margin-bottom: 20px;
	@media screen and (min-width: $bp-s) {
		text-align: left;
		font-size: $font-size-l;
	}
}

h3 {
	font-size: $font-size-l;
	color: $white;
}

section {
	padding-bottom: 70px;
	box-sizing: border-box;
	@media screen and (min-width: $bp-s) {
		padding-bottom: 150px;
	}
}

section, footer {
	@media screen and (min-width: $bp-s) {
		max-width: 800px;
		display: block;
		margin: 0 auto;
		text-align: left;
	}
}

.left {
	float: left;
	clear: both;
}

.right {
	float: right;
	clear: both;
}

p {
	font-size: $font-size-l;
	letter-spacing: 1px;
	color: $black;
	@media screen and (min-width: $bp-s) {
		font-size: $font-size-xl;
	}
	@media screen and (min-width: $bp-l) {
		font-size: $h2-m;
	}
}

.clear {
	clear: both;
}

.site-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: block;
	height: 100%;
	.centered {
		margin: 0 10%;
		height: 100%;
	} 
}

nav.menu-icon {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	position: relative;
	top: 30px;
	right: 30px;
	z-index: 999;
	.hamburger {
		width: 27px;
		height: 22px;
		float: right;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		animation-name: slideInRight;
		-webkit-animation-name: slideInRight;
		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: $white;
			opacity: 1;
			left: 0;
			transition: .4s ease-in-out;
			z-index: 9999;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2), &:nth-child(3) {
				top: 9px;
			}
			&:nth-child(4) {
				top: 18px;
			}
		}
	}
	.open {
		span {
			background-color: $blue;
			transition: 0.4s ease-in-out;
			&:nth-child(1) {
				top: 9px;
				width: 0;
				left: 50%;
			}
			&:nth-child(2) {
				transform:rotate(45deg);
			}
			&:nth-child(3) {
				transform:rotate(-45deg);
			}
			&:nth-child(4) {
				top: 9px;
				width: 0;
				left: 50%;
			}
		}
	}
}

.nav-overlay {
	display: none;
	transition: display 1s ease;
	background-color: $white;
	opacity: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 800;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	&.active {
		display: block;
	}
	ul {
		display: block;
		position: absolute;
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		a {
			text-decoration: none;
			z-index: 9999;
			font-size: $font-size-l;
			text-align: right;
			font-size: 2.5em;
			li {
				padding: 10px 0;
				font-size: 1.4em;
				text-align: center;
				text-transform: uppercase;
				animation-name: slideInRight;
				-webkit-animation-name: slideInRight;
			}
		}
		a:nth-child(1) {
			color: $blue;
		}
		a:nth-child(2) {
			color: rgba(141, 83, 234, 1);
		}
		a:nth-child(3) {
			color: rgba(191, 105, 218, 1);
		}
	}
}

.landing-section {
	background: transparent;
	width: 100%;
	
}

.about {
	background: transparent;
	margin-top: 100px;
	animation-name: slideInLeft;
	-webkit-animation-name: slideInLeft;
}

.clients {
	background: transparent;
	animation-name: slideInRight;
	-webkit-animation-name: slideInRight;
}

.project {
	background: transparent;
	div{
		height: auto;
		text-align: center;
		a {
			cursor: pointer;
			img {
				max-width: 800px;
				width: 100%;
			}
		}
	}
}

.slide-left {
	animation-name: slideInLeft;
	-webkit-animation-name: slideInLeft;
}

.slide-right {
	animation-name: slideInRight;
	-webkit-animation-name: slideInRight;
}


footer {
	a {
		font-size: $font-size-xl;
		color: $black;
		&:hover {
			color: $white;
			transition: .5s ease-in-out;
		}
		@media screen and (min-width: $bp-s) {
			font-size: $font-size-xxl;
		}
		@media screen and (min-width: $bp-l) {
			font-size: $font-size-xxxl;
		}
	}
	ul {
		display: block;
		margin: 10px 0 60px;
		li {
			display: inline-block;
			padding: 0 20px 0 0;
			a {
				text-transform: uppercase;
				font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				color: $white;
				font-size: $font-size-m;
				@media screen and (min-width: $bp-l) {
					font-weight: 800;
				}
				&:hover {
					color: $black;
					transition: .25s ease-in-out;
					animation-name: pulse;
					-webkit-animation-name: pulse;
				}
			}
		}
	}
}
	
.animated {
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.animated-mid {
  	-webkit-animation-duration: 1.5s;
  	animation-duration: 1.5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.animated-slow {
  	-webkit-animation-duration: 2s;
  	animation-duration: 2s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(500%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-500%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
	
@keyframes fadeInDown {
  from {
    opacity: 0.3;
    transform: translate3d(0, -0%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

