// Typography
$body-font-size: 100%;
$font-size-xs: 1em; // 15px
$font-size-s: 1.067em; // 16px
$font-size-m: 1.133em; // 17px
$font-size-l: 1.267em; // 19px
$font-size-xl: 1.563em; // 25px
$font-size-xxl: 1.875em; // 30px
$font-size-xxxl: 3.125em; // 50px

$h1-s: 2em; // phone
$h1-m: 2.5em; // tablet
$h1-l: 3em; // desktop

$h2-s: 1.625em; 
$h2-m: 2em;
$h2-l: 2.25em;

$line-height: 1.6;

// Colours
$black: #000000;
$white: #ffffff;
$blue: rgba(86, 60, 252, 1);

// Breakpoints
$bp-s: 768px;
$bp-m : 1024px;
$bp-l: 1200px;
$bp-xl: 1400px;
$bp-xxl: 1600px;
